.select-container {
    position: relative;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    padding: 4px;
    background-color: #ffffff;
}

.input-container:hover {
    border: 1px solid black;
}

.input-container.focus {
    border: 1px solid hsl(210, 100%, 42%)
}

.input-box {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
}

.option-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-height: 150px;
    width: 100%;
    max-height: 250px;
    background-color: #FFFFFF;
    border: 1px solid #c4c4c4;
    z-index: 999;
    overflow-y: auto;
    scrollbar-width: none;
}

.option-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.option-item:hover {
    background-color: #f0f0f0;
}

.option-item.focused {
    background-color: #EEE;
}

.indicator-container {
    min-width: 60px;
    display: flex;
}

.indicator-button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    align-items: center;
    justify-content: center;
    width: 25px;
    height:25px;
    border-radius: 100px;
}
.indicator-button:hover {
    background-color: #EEE;
}

.indicator-button.delete {
    color: #757575;
    margin-right: 4px;
}

.indicator-button.disable {
    background-color: transparent;
    cursor: auto;
}

.hide {
    display: none;
}

.indicator-button.trigger {
    align-items: center;
    justify-content: center;
}

.trigger-icon {
}
